/* Navigation Bar */
/* Add a black background color to the top navigation */
.topnav {
    position: relative;
    background-image: linear-gradient(to left, white, rgb(180, 230, 255));
    overflow: hidden;
    text-align: center;
}
/* Style the links inside the navigation bar */
.topnav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #34abeb;
    color: white;
}
/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #3480eb;
    color: white;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
/* Centered section inside the top navigation */
.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
