/* Navigation Bar */
/* Add a black background color to the top navigation */
.topnav {
    position: relative;
    background-image: linear-gradient(to left, white, rgb(180, 230, 255));
    text-align: center;
}
/* Style the links inside the navigation bar */
.topnav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #34abeb;
    color: white;
}
/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #3480eb;
    color: white;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
/* Centered section inside the top navigation */
.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dropbtn {
    background-image: linear-gradient(to left, white, rgb(180, 230, 255));
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    height: 170%;
}

.dropdown-content a, .dropdown-content form a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover, .dropdown-content form a:hover {background-color: slategray;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}
